@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&family=Roboto:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  background-color: black;
}
.ripple_btn {
  z-index: 500;
  position: relative;
  padding: 20px 15px;
  border-radius: 10px;
  letter-spacing: 1.5;
  font-size: 20px;
  color: white;
  background-color: blueviolet;
  cursor: pointer;
  border: 0;
  overflow: hidden;
}

.ripple_btn:focus {
  outline: none;
}

.effect {
  position: absolute;
  background-color: white;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  animation: ripple_effect 0.7s forwards;
  transform: translate(-50%, -50%);
}

@keyframes ripple_effect {
  from {
    transform: scale(0),translate(-50%, -50%);
    opacity: 1;
  }
  to {
    transform: scale(4);
    opacity: 0;
  }
}
